<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="28069pinoelefante.AdventuresPlanetUniversalApp" Publisher="CN=91875298-DE48-43C6-B1C0-A6D3351D7095" Version="1.2.0.0" />
  <mp:PhoneIdentity PhoneProductId="88965452-8081-4f8a-94ab-4b820817a8d3" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Adventure's Planet Universal App</DisplayName>
    <PublisherDisplayName>pinoelefante</PublisherDisplayName>
    <Logo>Assets\Store.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="AdventuresPlanetUWP.App">
      <uap:VisualElements DisplayName="Adventure's Planet Universal App" Square150x150Logo="Assets\Square150.png" Square44x44Logo="Assets\Square44.png" Description="Adventure's Planet Universal App" BackgroundColor="transparent">
        <uap:DefaultTile Square71x71Logo="Assets\Square71.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="transparent" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
          <uap:Rotation Preference="landscape" />
          <uap:Rotation Preference="portraitFlipped" />
          <uap:Rotation Preference="landscapeFlipped" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="PodcastPlayer.MediaPlayerPod">
          <BackgroundTasks>
            <Task Type="audio" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap:Capability Name="musicLibrary" />
    <uap:Capability Name="picturesLibrary" />
  </Capabilities>
</Package>